#Header{
  background-color: blue;
  height:200px;

}

#Footer{

  background-color: orange;
  height:100px;
}


.LeBodey{
  display:flex;
  flex-direction:row;
  justify-content: space-between;



}

.PapaPequeños{
  display:flex;
  flex-direction:column;
}
.Pequeños{

  margin:20px;
  height:50px;
  width:300px;
  background-color: orange;
}

.Grande{
  margin:20px;
  height:500px;
  width:270px;
  background-color:orange;

}
